*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slider-container{
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    position: relative;
}

.icon{
    position: absolute;
    top: 50%;
    background: transparent;
    border: 2px solid white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    z-index: 99999;
}
 
.icon:hover{
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}

.icon:active{
    transform: scale(0.8);
}



.right{
    right: 20px;
}

.left{
    left: 20px;
}

.slide{
    width: 0;
    height: 0;
    opacity: 0.5;
    transform: translateX(-40%);
    transition: opacity .2s , transform .5s;
}

.current{
    height: 100%;
    width: 100%;
    opacity: 1;
    transform: translateX(0);
    display: block;
}



.img-container{
    /* border: 4px solid green; */
    width: 100%;
    height: 100%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content{
    position: absolute;
    padding: 5px 20px;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

h2{
    margin-bottom: 10px;
}

p{
    padding: 10px 2px;
}

